img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

h2, p, h3 {
    margin: 4px 0;
    padding: 0;
}

.item-container {
    position: var(--oikos-position);
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
}

button {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: var(--oikos-background-color);
    margin: 16px 0;
    cursor: pointer;
}
